/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #nav-logo {
        width: 1.5rem;
    }

    .sound {
        margin-top: 5%;
    }

    .sound i {
        font-size: 15px;
    }

    .sound .sound-p {
        font-size: 13px;
        padding: 0px 7% 0 5%;
    }

    .sound #sound-on {
        font-size: 13px;
    }

    .sound #sound-off {
        font-size: 13px;
    }

    #avatar {
        margin-bottom: 6%;
    }

    .profile h2 {
        font-size: 22px;
    }

    .profile h3 {
        font-size: 17px;
    }

    .myMenuDiv>li>a {
        margin: 0.8rem 0px;
        padding: 1rem 0px 1.5rem 6rem
    }

    .menuText {
        font-size: 14px;
    }

    .myFa {
        font-size: 13px;
    }


    .bar-1,
    .bar-2,
    .bar-3 {
        width: 25px;
        height: 2px;
        margin: 6px;
    }

    .intro {
        top: 5%;
    }

    #greetings {
        font-size: 23px;
    }

    #intro {
        width: 50%;
        font-size: 18px;
    }

    #emoji {
        font-size: 22px;
        padding: 8px;
    }

    .explore-button {
        width: 150px;
        padding: 18px 37px;
        font-size: 12px;
    }

    .explore-button::after {
        width: 0;
        height: 100%;
        left: -30%;
        top: 0;
        transform: skew(50deg);
        transform-origin: bottom left;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #nav-logo {
        width: 1.8rem;
    }

    .sound {
        margin-top: 3%;
    }

    .sound i {
        font-size: 18px;
    }

    .sound .sound-p {
        font-size: 15px;
        padding: 0px 7% 0 5%;
    }

    .sound #sound-on {
        font-size: 15px;
    }

    .sound #sound-off {
        font-size: 15px;
    }

    #avatar {
        margin-bottom: 6%;
    }

    .profile h2 {
        font-size: 26px;
    }

    .profile h3 {
        font-size: 18px;
    }

    .myMenuDiv>li>a {
        margin: 0.8rem 0px;
    }

    .menuText {
        font-size: 16px;
    }

    .myFa {
        font-size: 15px;
    }


    .bar-1,
    .bar-2,
    .bar-3 {
        width: 30px;
        height: 3px;
        margin: 6px;
    }

    .intro {
        top: 6%;
    }

    #greetings {
        font-size: 28px;
    }

    #intro {
        width: 42%;
        font-size: 24px;
    }

    #emoji {
        font-size: 27px;
        padding: 8px;
    }

    .explore-button {
        width: 150px;
        padding: 18px 37px;
        font-size: 14px;
    }

    .explore-button::after {
        width: 0;
        height: 100%;
        left: -30%;
        top: 0;
        transform: skew(50deg);
        transform-origin: bottom left;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #nav-logo {
        width: 2rem;
    }

    .sound {
        margin-top: 2%;
    }

    .sound i {
        font-size: 22px;
    }

    .sound .sound-p {
        font-size: 18px;
        padding: 0px 7% 0 5%;
    }

    .sound #sound-on {
        font-size: 18px;
    }

    .sound #sound-off {
        font-size: 18px;
    }

    .profile h2 {
        font-size: 28px;
    }

    .profile h3 {
        font-size: 20px;
    }

    .myMenuDiv>li>a {
        margin: 0.8rem 0px;
    }

    .menuText {
        font-size: 16px;
    }

    .myFa {
        font-size: 15px;
    }


    .bar-1,
    .bar-2,
    .bar-3 {
        width: 35px;
        height: 3px;
        margin: 8px;
    }


    .intro {
        top: 8%;
    }

    #greetings {
        font-size: 40px;
        margin: 5px;
    }

    #intro {
        width: 43%;
        font-size: 30px;
    }

    #emoji {
        font-size: 30px;
        padding: 10px;
    }

    .explore-button {
        width: 150px;
        padding: 18px 37px;
        font-size: 16px;
    }

    .explore-button::after {
        width: 0;
        height: 100%;
        left: -30%;
        top: 0;
        transform: skew(50deg);
        transform-origin: bottom left;
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) and (max-width: 1199.98px) {
        
    }

    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {}
}